# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\coliv\OneDrive\Área de Trabalho\Faculdade\Desenvolvimento para dispositivos móveis\trabalho-mobile\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
